<div class="table-row" id="<%= dom_id ressource %>">
    <div class="table-cell"><%= ressource.matiere.nom %></div>
    <div class="table-cell"><%= ressource.epaisseur %>mm</div>
    <div class="table-cell"><%= ressource.dimension %></div>
    <div class="table-cell"><%= ressource.couleur %></div>
    <div class="table-cell"><%= ressource.qualite %></div>
    