<tr id="<%= dom_id ressource %>">
    <td><%= link_to ressource.matiere.nom, ressource.matiere  %></td>
    <td><%= ressource.epaisseur %>mm</td>
    <td><%= ressource.dimension %></td>
    <td><%= ressource.couleur %></td>
    <td><%= ressource.qualite %></td>
    <td><%= link_to "Détails de la ressource", ressource %></td>
</tr>
    