<tr id="<%= dom_id commande %>">
  <td>
    <%= commande.date.strftime("%d/%m/%Y") %>
  </td>

  <td>
    <%= commande.fournisseur.nom %>
  </td>

  <td>
    <%= commande.numero_de_commande %>
  </td>

  <td>
    <%= commande.livree %>
  </td>

  <td><%= link_to "Modifier", edit_commande_path(commande), data: { turbo: false } %></td>

</tr>
