<div id="<%= dom_id commande %>">
  <p>
    <strong>Date:</strong>
    <%= commande.date %>
  </p>

  <p>
    <strong>Fournisseur:</strong>
    <%= commande.fournisseur_id %>
  </p>

  <p>
    <strong>Numero de commande:</strong>
    <%= commande.numero_de_commande %>
  </p>

  <p>
    <strong>Livree:</strong>
    <%= commande.livree %>
  </p>

</div>
