<tr id="<%= dom_id commande %>" class="<%= commande.status %>">

    <td><%= commande.date_de_commande.strftime("%d/%m/%Y") %></td>
    <td><%= commande.quantite %></td>
    <td><%= commande.ressource.nom_complet %></td>
    <td><%= link_to commande.chantier.nom_complet, commande.chantier, data: { turbo: false } %></td>
    <td><%= commande.commentaire %></td>

    <td>
        <% unless commande.livre %>
            <%= form_with(url: livrer_commande_path(commande), method: :post ) do |form| %>
                <%= form.submit "livrer" %>
            <% end %>
        <% else %>
            Livré
        <% end %>    
    </td>

    <td><%= link_to "Modifier", edit_commande_path(commande), data: { turbo: false } %></td>

</tr>
