<tr id="<%= dom_id commande %>" class="<%= commande.status %>" data-action="click->hello#hover" data-id="<%= commande.id %>">
  <td>
    <%= commande.date.strftime("%d/%m/%Y") %>
  </td>

  <td>
    <%= link_to commande.fournisseur.nom, commande.fournisseur %>
  </td>

  <td>
    <%= link_to commande.numero_de_commande, commande %>
  </td>
  <td>
        <% unless commande.livree %>
            <%= form_with(url: livrer_commande_path(commande), method: :post ) do |form| %>
                <%= form.submit "Marquer comme livrée" %>
            <% end %>
        <% else %>
            Livrée le <%= commande.date_de_livraison.strftime("%d/%m/%Y") %>
        <% end %>    
  </td>
  <td><%= link_to "Afficher", commande, data: { turbo: false } %></td>
  <td><%= link_to "Modifier", edit_commande_path(commande), data: { turbo: false } %></td>

</tr>