<%= form_with(model: commande) do |form| %>
  <% if commande.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commande.errors.count, "error") %> prohibited this commande from being saved:</h2>

      <ul>
        <% commande.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Date de commande", style: "display: block" %>
    <%= form.date_field :date, value: if commande.date.present? then commande.date else Date.today end %>
  </div>

  <div>
    <%= form.label :fournisseur_id, style: "display: block" %>
    <%= form.collection_select(:fournisseur_id, Fournisseur.all.order(nom: :asc), :id, :nom, { prompt: 'Choisir un fournisseur' }) %>
  </div>

  <div>
    <%= form.label :numero_de_commande, style: "display: block" %>
    <%= form.text_field :numero_de_commande %>
  </div>

  <div>
    <%= form.label :bon_de_commande, style: "display: block" %>
    <%= form.file_field :bon_de_commande %>
  </div>

  <div>
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>
