<table id="commande"   class="styled-table">
  <%= render @commande %>
</table>

<h2>Achats de cette commande</h2>

<%= render "commandes/ressources", commande: @commande %>

<% @commande.chantiers.each do |chantier| %>

  <h3><%= chantier.nom_complet %></h3>
  <%= render "achats/achats", achats: chantier.achats.where(commande_id: @commande.id).sort_by{|a| a.ressource_id} %>

<% end %>

<h2>Achats en attente par chantier</h2>

<% Chantier.all.each do |chantier| %>
  <% if chantier.utilisations_virtuelles_a_acheter != [] %>
      <h3><%= chantier.nom_complet %></h3>
      <%= render "utilisations/utilisations_virtuelles", utilisations_virtuelles: chantier.utilisations_virtuelles_a_acheter %>
  <% end %>
<% end %>


