<tr id="<%= dom_id achat %>" class="<%= achat.status %>">

    <td><%= achat.commande.date.strftime("%d/%m/%Y") %></td>
    <td><%= achat.quantite %></td>
    <td><%= achat.ressource.nom_complet %></td>
    <td><%= link_to achat.chantier.nom_complet, achat.chantier, data: { turbo: false } %></td>
    <td><%= achat.commande.ref_complete %></td>

    <td>
        <% unless achat.livre %>
            <%= form_with(url: livrer_achat_path(achat), method: :post ) do |form| %>
                <%= form.submit "Marquer comme livré" %>
            <% end %>
        <% else %>
            Livré le <%= achat.date_de_livraison.strftime("%d/%m/%Y") %>
        <% end %>    
    </td>

    <td><%= link_to "Modifier", edit_achat_path(achat), data: { turbo: false } %></td>

</tr>
