<%= form_with(model: achat) do |form| %>
  <% if achat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(achat.errors.count, "error") %> prohibited this achat from being saved:</h2>

      <ul>
        <% achat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :chantier_id, style: "display: block" %>
    <%= form.collection_select(:chantier_id, Chantier.actifs.order(:nom), :id, :nom_complet, { prompt: 'Choisir un chantier' }) %>
  </div>

  <div data-controller="select">
	  <div>
	    <%= form.label :matiere_id, style: "display: block" %>
	    <%= form.collection_select :matiere_id, Matiere.all.order(:nom), :id, :nom, { prompt: 'Choisir une matière' }, {data: {action: "change->select#change"}} %>
	  </div>
	  <div>
	    <%= form.label :ressource_id, style: "display: block" %>
	    <%= form.collection_select(:ressource_id, @ressources, :id, :nom_complet, { prompt: 'Choisir une ressource' }, {data: {select_target: "ressource"}}) %>
	  </div>
  </div>

  <div>
    <%= form.label :quantite, "Quantité", style: "display: block" %>
    <%= form.number_field :quantite %>
  </div>

  <div>
    <%= form.label "Commande", style: "display: block" %>
    <%= form.collection_select(:commande_id, Commande.all.order(date: :desc), :id, :ref_complete, { prompt: 'Choisir une commande' }) %>
  </div>

  <div>
    <%= form.label :commentaire, style: "display: block" %>
    <%= form.text_field :commentaire %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
