<div>
    <h2>Afficher les achats</h2>
    
    <%= form_with(url: achats_path, method: :get, data: {turbo_frame: "achats", turbo_action: "advance"}) do |form| %>
    <div>
        <%= form.label :start_date, "Depuis"  %>
        <%= form.date_field :start_date %>
    </div>
    <div>
        <%= form.label :start_date, "jusqu'à"  %>
        <%= form.date_field :end_date %>
    </div>
    <div>
        <%= form.label :tout, "Afficher toutes les achats"  %>
        <%= form.check_box :tout %>
    </div>
    <div>
        <%= form.submit 'Afficher' %>
    </div>
    <% end %>
</div>


<h1>achats</h1>

<%= render "achats", achats: @achats %>
