<h2>Achats en attente</h2>

<% if @ressources_a_acheter != [] %>
    <%= render partial: "ressources_a_acheter", locals: { ressources: @ressources_a_acheter } %>
<% end %>

<h2>Achats en attente par chantier</h2>

<% Chantier.all.each do |chantier| %>
  <% if chantier.utilisations_virtuelles_a_acheter != [] %>
      <h3><%= link_to chantier.nom_complet, chantier %></h3>
      <%= render "utilisations/utilisations_virtuelles", utilisations_virtuelles: chantier.utilisations_virtuelles_a_acheter %>
  <% end %>
<% end %>

<div>
    <h2>Afficher les achats</h2>
    
    <%= form_with(url: achats_path, method: :get, data: {turbo_frame: "achats", turbo_action: "advance"}) do |form| %>
    <div>
        <%= form.label :start_date, "Depuis"  %>
        <%= form.date_field :start_date %>
    </div>
    <div>
        <%= form.label :start_date, "jusqu'à"  %>
        <%= form.date_field :end_date %>
    </div>
    <div>
        <%= form.label :tout, "Afficher toutes les achats"  %>
        <%= form.check_box :tout %>
    </div>
    <div>
        <%= form.submit 'Afficher' %>
    </div>
    <% end %>
</div>


<h1>achats</h1>

<%= render "achats", achats: @achats %>
