<tr id="<%= dom_id utilisation %>" class="<%= utilisation.status %>">

    <td><%= utilisation.date.strftime("%d/%m/%Y") %></td>
    <td><%= utilisation.quantite %></td>
    <td><%= link_to utilisation.ressource.nom_complet, utilisation.ressource %></td>
    <td><%= utilisation.machine.nom %></td>
    <td><%= link_to utilisation.chantier.nom_complet, utilisation.chantier, data: { turbo: false } %></td>
    <% unless utilisation.checked %>
        <td>        
            A Traiter
        </td>
        <td>
            A Commander
        </td>
    <% else %>
        <td>
            Traité
        </td>
        <td>
            Commandé
        </td>
    <% end %>   
     

    
    <td><%= link_to "Modifier", edit_utilisation_path(utilisation), data: { turbo: false } %></td>

</tr>
