<tr id="<%= dom_id utilisation %>" class="<%= utilisation.status %>">

    <td><%= utilisation.date.strftime("%d/%m/%Y") %></td>
    <td><%= utilisation.quantite %></td>
    <td><%= utilisation.ressource.nom_complet %></td>
    <td><%= utilisation.machine.nom %></td>
    <td><%= link_to utilisation.chantier.nom_complet, utilisation.chantier, data: { turbo: false } %></td>
    <% unless utilisation.checked %>
        <td>        
            <%= form_with(url: traiter_utilisation_path(utilisation), method: :post ) do |form| %>
                <%= form.submit "Traiter" %>
            <% end %>
        </td>
        <td>
            <%= form_with(url: create_achat_from_path(utilisation), method: :post, data: { turbo_frame: "achats" }) do |form| %>
                <%= form.submit "Acheter" %>
            <% end %>
        </td>
    <% else %>
        <td>
            Traité
        </td>
        <td>
            Commandé
        </td>
    <% end %>   
     

    
    <td><%= link_to "Modifier", edit_utilisation_path(utilisation), data: { turbo: false } %></td>

</tr>
