<tr id="<%= dom_id chantier %>">
    <td><%= link_to chantier.nom, chantier  %></td>
    <td><%= link_to chantier.client.nom, chantier.client  %></td>
    <td><%= chantier.date_de_livraison.strftime("%d/%m/%Y") %></td>
    <td>
        <% if chantier.equilibre? %>
            Non
        <% else %>
            Oui
        <% end %>
    </td>
    <td>
        <% if chantier.cloture %>
            Cloturé
        <% else %>
            <%= form_with(url: cloturer_chantier_path(chantier), method: :post ) do |form| %>
                <%= form.submit "Cloturer" %>
            <% end %>
        <% end %>
    </td>
    <td><%= link_to "Modifier ce chantier", edit_chantier_path(chantier) %></td>
</tr>