<p style="color: green"><%= notice %></p>

<div class="table" id="chantier">
	<%= render @chantier %>
	<div class="table-cell"><%= link_to "Modifier ce chantier", edit_chantier_path(@chantier) %></div>
	</div>
</div>
<h2>Utilisations sur ce chantier</h2>

<%= render "utilisations/utilisations", utilisations: @chantier.utilisations.order(created_at: :desc) %>

<h2>Commandes sur ce chantier</h2>

<%= render "commandes/commandes", commandes: @chantier.commandes.order(created_at: :desc) %>


<p>
	<%= link_to "Liste des chantiers", chantiers_path %>
</p>