<table id="chantier"  class="styled-table">
	<tr>
		<%= render @chantier %>
	</tr>
	<tr><td><%= link_to "Modifier ce chantier", edit_chantier_path(@chantier) %></td></tr>
</table>

<h2>Utilisations sur ce chantier</h2>

<%= form_with(url: trier_par_ressources_utilisations_path(@chantier), method: :post ) do |form| %>
	<%= form.submit "Trier par ressources" %>
<% end %>

<%= render "utilisations/utilisations", utilisations: @utilisations %>

<h2>Commandes sur ce chantier</h2>

<%= render "commandes/commandes", commandes: @chantier.commandes.order(created_at: :desc) %>


<p>
	<%= link_to "Liste des chantiers", chantiers_path %>
</p>