<table  class="styled-table" id="matiere">
	<tr>
		<th>Nom</th>
	</tr>
	<%= render @matiere %>
  <tr><td><%= link_to "Modifier cette matiere", edit_matiere_path(@matiere) %></td></tr>
</table>
<h2>Ressources associées à cette matière</h2>

<%= render "ressources/ressources", ressources: @matiere.ressources %>

<h2>Ajouter une ressource à cette matière</h2>

<%= form_with(model: [@matiere, @matiere.ressources.new]) do |form| %>
<div>
    <%= form.label :epaisseur, style: "display: block" %>
    <%= form.text_field :epaisseur %>mm
  </div>

  <div>
    <%= form.label :dimension, style: "display: block" %>
    <%= form.text_field :dimension %>
  </div>
  
  <div>
    <%= form.label :couleur, style: "display: block" %>
    <%= form.text_field :couleur %>
  </div>
  
  <div>
    <%= form.label :qualite, style: "display: block" %>
    <%= form.text_field :qualite %>
  </div>

    <%= form.submit "Ajouter à #{@matiere.nom}" %>
<% end %>
