<!DOCTYPE html>
<html>
  <head>
    <title>Cve</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

	<div class="wrapper">
       <div class="section">

    	<div class="container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
      		<%= yield %>
    	</div>
  	</div>
        <div class="sidebar">
            <div class="profile">
                <%= link_to(root_path) do %>
                	<%= image_tag 'Logo_CVE.png' %>
                <% end %>
            </div>
            <ul>
            	<li>
                    <%= link_to "Utilisations", utilisations_path %>
                </li>
                <ul>
                	<li><%= link_to "Nouvelle utilisation", new_utilisation_path %></li>
                </ul>
                <li>
                    <%= link_to "Fournisseurs", fournisseurs_path %>
                </li>
                <li>
                    <%= link_to "Commandes", commandes_path %>
                </li>
                <ul>
                	<li><%= link_to "Nouvelle commande", new_commande_path %></li>
                </ul>
                <li>
                    <%= link_to "Achats", achats_path %>
                </li>
                <ul>
                	<li><%= link_to "Nouvel achat", new_achat_path %></li>
                </ul>
                <li>
                    <%= link_to "Ressources", ressources_path %>
                </li>
                <li>
                    <%= link_to "Matières", matieres_path %>
                </li>
                <li>
                    <%= link_to "Chantiers", chantiers_path %>
                </li>
                <li>
                    <%= link_to "Clients", clients_path  %>
                </li>                
                <li>
                    <%= link_to "Utilisateurs", users_path %>
                </li>
                <li>
                    <%= link_to "Machines", machines_path %>
                </li>
                <li>
                    <% if user_signed_in? %>                     
                        <%= link_to "Déconnecter #{current_user.email}", destroy_user_session_path, data: { "turbo-method": :delete } %> 
                    <% else %>
                        <%= link_to "Se connecter", new_user_session_path %> 
                    <% end %>
                </li>
                
                
            </ul>
        </div>
        
    </div>
    
  </body>
</html>


